apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: buildingos-prod-zlmediakit-data
  name: buildingos-prod-zlmediakit-data
  namespace: buildingos-prod
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
